*, *:before, *:after {
    box-sizing: border-box;
    transition: background-color .25s ease;
}
/**--------- GRIDS ------------**/

.grid {
    font-size: 0px;
    text-align: justify;
}
.grid:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.cell {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
/**--------- GRIDS ------------**/

$grey: #B5B5B5;
$turquoise: #92DCE0;
$blue: #0092D7;
$green: #3EC303;
$orange: #EE8D09;
$header-height: 132px;
// @mixin darkenHover($baseColor) {
//     background-color: $baseColor;
//     &:hover, &:active, &:focus {
//         background-color: darken($baseColor, 5%);
//     }
// }
body, html {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    min-width: 300px;
}
li {
    list-style: none;
    text-decoration: none;
    font-size: 1em;
    color: white;
}
h1 {
    font-size: 1.5em;
    text-transform: uppercase;
}
h2 {
    font-size: 1.3em;
    text-transform: uppercase;
}
h3 {
    font-size: 1.1em;
    text-transform: uppercase;
}
p {
    font-size: 1em;
}
a {
    text-decoration: none;
    display: inline-block;
}
input, textarea, select, a, button {
    outline: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 0.5rem 1rem;
    color: $grey;
    text-align: center;
    .logo {
        width: 300px;
        height: 100px;
        background-image: url('../images/jhmomc_banner1.gif');
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .buttons {
        a:link, a:visited {
            font-size: 1em;
            color: white;
            padding: 1em 2em;
            margin-left: 1em;
            border-radius: 15px;
        }
        .signup {
            a {
                background-color: $blue;
                &:hover, &:active, &:focus {
                    background-color: darken($blue, 15%)
                }
            }
        }
        .login {
            a {
                background-color: $green;
                &:hover, &:active, &:focus {
                    background-color: darken($green, 15%)
                }
            }
        }
    }
}
// .sidebar-placeholder {
//     width: 15%;
// }
.sidebar {
    overflow: auto;
    background-color: $grey;
    position: fixed;
    top: 132px;
    bottom: 0;
    left: 0;
    z-index: 2;
    margin: 2em;
    // margin-top: 155px;
    padding: 2em;
    border-radius: 15px;
    nav {
        width: 100%;
        &>ul {
            padding: 0;
        }
        // .cell.father, .cell.mother {
        //     width: 100%;
        // }
    }
    .active {
        color: $orange;
    }
}
.main {
    min-height: 100vh;
    min-height: 100%;
    background-color: $turquoise;
    color: white;
    min-height: 100%;
    padding-left: 360px;
    padding-top: 150px;
    font-size: 1em;
    h1.form-title {
        width: 100%;
        text-align: center;
        color: $orange;
    }
    .form-main {
        padding: 2em;
        text-align: center;
    }
    .form-section {
        // a {
        //     font-size: 3em;
        //     color: $blue;
        //     margin-top: 1rem;
        // }
    }
    .form-heading {
        text-align: center;
        h1 {
            color: $blue;
            // background-color: $blue;
            // padding: 1em;
            border-radius: 15px;
        }
    }
    .stage {
        text-align: left;
        padding: 0 2em;
        margin-top: 1rem;
        width: 100%;
        .cell {
            width: 30%;
        }
        form {
            input, textarea, select {
                border: 3px solid #fff;
                line-height: 1.5;
                font-size: 1.4em;
                padding: 5px 10px;
                color: black;
                // display: block;
                width: 100%;
                background: #fff;
                margin-bottom: 1em;
            }
            // input.placeholder {
            //     color: black;
            // }
            ::-webkit-input-placeholder {
                /* WebKit browsers */
                
                color: $blue;
            }
            :-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                
                color: $blue;
                opacity: 1;
            }
            ::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                
                color: $blue;
                opacity: 1;
            }
            :-ms-input-placeholder {
                /* Internet Explorer 10+ */
                
                color: $blue;
            }
            .permission {
                input, label {
                    margin: 0.5em;
                    color: $blue;
                    width: 10%;
                }
            }
            .center {
                margin: 0 auto;
                text-align: center;
                width: 100%;
            }
            button {
                font-size: 3em;
                color: $green;
                // margin-top: 1rem;
                background-color: transparent;
                border: 0;
            }
        }
    }
    .step2 {
        .relatives {
            margin: 1em 0em;
            border: 3px solid $blue;
            width: 100%;
            h3 {
                background-color: $blue;
                color: white;
                margin: 0;
                padding: 0.5em 1em;
                font-weight: 700;
                letter-spacing: 0.2em;
            }
        }
    }
}
//
//
//
//
