*, *:before, *:after {
    box-sizing: border-box;
    transition: background-color .25s ease;
}
/**--------- GRIDS ------------**/

.grid {
    font-size: 0px;
    text-align: justify;
}
.grid:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.cell {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
// .alignTop {
//     vertical-align: top;
// }
/**--------- GRIDS ------------**/

$pastel-orange: #FABE42;
$robinegg-blue: #00CCCB;
$robin-hover: darken($robinegg-blue, 15%);
$corn-silk: #FEF6DF;
$navy: #023F75;
$heath: #512B2A;
// $heath-hover: #D07977;
$heath-hover: darken($heath, 15%);
$clay-creek: #848452;
$lynch: #688091;
$turtle-green: #37371D;
//----------------------------------
$navy: black;
$grey: $clay-creek;
$turquoise: $corn-silk;
$blue: $heath;
// $green: #3EC303;
$green: $pastel-orange;
$green-hover: darken($green, 15%);
$orange: #EE8D09;
$header-height: 119px;
body, html {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    height: auto;
    min-width: 300px;
    background-color: $turquoise;
    @media (max-width: 1065px) and (min-width: 992px) {
        font-size: 15px;
    }
    @media (max-width: 991px) and (min-width: 768px) {
        font-size: 13px;
    }
    @media (max-width: 767px) and (min-width: 500px) {
        font-size: 11px;
    }
    @media (max-width: 499px) {
        font-size: 10px;
    }
}
li {
    list-style: none;
    text-decoration: none;
    font-size: 1em;
    color: white;
}
h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    // color: black;
}
h2 {
    font-size: 1.3em;
    text-transform: uppercase;
    // color: black;
}
h3 {
    font-size: 1.1em;
    text-transform: uppercase;
    // color: black;
}
p {
    font-size: 1em;
    color: $blue;
    line-height: 1.5;
}
a {
    text-decoration: none;
    display: inline-block;
}
a:link, a:visited {
    color: $heath;
}
// a:hover, a:focus, a:active {
//     color: $heath-hover;
// }
.mobile-only {
    display: none;
    @media (max-width: 869px) {
        display: block;
    }
}
.desktop-only {
    @media (max-width: 869px) {
        display: none;
    }
}
label {
    // margin: 0.5em;
    color: $blue;
    line-height: 2;
    text-transform: uppercase;
}
input, textarea, select, a, button {
    outline: none;
}
header {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    // .logo {
    //     width: 300px;
    //     height: 100px;
    //     background-image: url('../images/jhmomc_banner1.gif');
    //     background-size: 100% auto;
    //     background-repeat: no-repeat;
    // }
    .logo {
        width: 25%;
        text-align: center;
        img {
            max-width: 100%;
        }
        @media (max-width: 1065px) and (min-width: 992px) {
            width: 30%;
        }
        @media (max-width: 869px) {
            width: 50%;
        }
        @media (max-width: 499px) {
            width: 60%;
            // padding: 1em 2em;
        }
    }
    .pageTitle {
        width: 50%;
        text-align: center;
        @media (max-width: 1065px) and (min-width: 870px) {
            width: 40%;
        }
        @media (max-width: 869px) {
            display: none;
        }
        h1 {
            color: $grey;
        }
    }
    .buttons {
        text-align: center;
        width: 25%;
        @media (max-width: 1065px) and (min-width: 992px) {
            width: 30%;
        }
        @media (max-width: 869px) {
            width: 50%;
        }
        @media (max-width: 499px) {
            width: 40%;
            // padding: 1em 2em;
            // text-align: justify;
        }
        a:link, a:visited {
            font-size: 1em;
            color: white;
            padding: 1em 2em;
            margin-left: 1em;
            border-radius: 15px;
            @media (max-width: 499px) {
                padding: 0.75em;
                margin-left: 0.5em;
            }
        }
        .signUp {
            a {
                background-color: $heath;
                &:hover, &:active, &:focus {
                    background-color: $heath-hover;
                }
            }
        }
        .login {
            a {
                background-color: $green;
                &:hover, &:active, &:focus {
                    background-color: $green-hover;
                }
            }
        }
    }
}
// .sidebar-placeholder {
//     width: 15%;
// }
.sidebar {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    width: 315px;
    overflow: auto;
    background-color: $grey;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    padding: 7.25em 1em 1em 1em;
    @media (max-width: 991px) {
        width: 260px;
        padding-top: 8em;
    }
    @media (max-width: 869px) {
        display: none;
        // padding: 1em;
        // width: 100%;
        // top: auto;
        // left: 0;
        // right: 0;
        // bottom: 0;
    }
    h3 {
        text-align: center;
        color: white;
        @media (max-width: 869px) {
            display: none;
        }
    }
    nav {
        width: 100%;
        padding: 1em 0em 1em 4em;
        @media (max-width: 869px) {
            padding: 1em;
        }
        &>ul {
            padding: 0;
            margin: 0;
            &>li {
                @media (max-width: 869px) {
                    display: inline;
                    padding: 1em;
                }
            }
        }
        //tutorial
        @media (max-width: 869px) {
            ul ul {
                display: none;
                position: absolute;
                top: 100%;
            }
            ul ul li {
                float: none;
                position: relative;
            }
            ul li:hover > ul {
                display: block;
            }
            ul {
                position: relative;
                display: inline-table;
            }
            ul:after {
                content: '';
                clear: both;
                display: block;
            }
            ul li {
                float: left;
            }
            ul li:hover {
                background: black;
            }
            ul li:hover a {
                color: red;
            }
            ul li a {
                display: block;
                // padding: ?;
                color: pink;
            }
        }
        //end tutorial
        a, li {
            text-transform: uppercase;
            line-height: 2;
            position: relative;
        }
        a:link, a:visited {
            color: white;
        }
        a:hover, a:focus, a:active {
            color: $green;
        }
    }
    .active {
        // color: $orange;
        @media (max-width: 869px) {
            display: none;
        }
        &:before {
            content: '';
            width: 1em;
            height: 1.2em;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-250%, -50%);
            background-color: $green;
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-150%, -50%);
            width: 0;
            height: 0;
            border-top: 0.6em solid transparent;
            border-left: 1em solid $green;
            border-bottom: 0.6em solid transparent;
        }
    }
}
.federation {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    padding: 2rem 4rem;
    p {
        font-size: 0.8em;
        font-style: italic;
    }
}
.jf-text {
    width: 75%;
    text-align: left;
    padding-left: 5em;
}
.jf-logo {
    width: 25%;
    img {
        max-width: 100%;
    }
}
.main {
    text-align: center;
    // max-width: 1000px;
    min-height: 100vh;
    min-height: 100%;
    background-color: $turquoise;
    // color: white;
    padding-left: 360px;
    padding-top: $header-height;
    font-size: 1em;
    @media (max-width: 991px) {
        padding-left: 260px;
    }
    @media (max-width: 869px) {
        padding: $header-height 2em;
    }
    @media (max-width: 499px) {
        padding: 7em 1em;
    }
}
.mobileTitle {
    text-align: center;
    h1, h3 {
        color: $grey;
    }
}
.success-msg {
    font-size: 1em;
    color: $navy;
}
h1.form-title {
    width: 100%;
    text-align: center;
    color: $orange;
}
.form-main {
    padding: 2em;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}
.form-section {
    // a {
    //     font-size: 3em;
    //     color: $blue;
    //     margin-top: 1rem;
    // }
}
.form-heading {
    text-align: center;
    h1 {
        // color: $navy;
        // letter-spacing: 0.2em;
        background-color: $heath;
        border-radius: 15px;
        color: white;
        margin: 0;
        padding: 0.5em 1em;
        font-weight: 700;
        letter-spacing: 0.2em;
    }
}
form {
    .cell {
        width: 30%;
        vertical-align: top;
        @media (max-width: 600px) {
            width: 100%;
        }
    }
    .wide {
        width: 48%;
        @media (max-width: 600px) {
            width: 100%;
        }
    }
    .subHeading {
        width: 100%;
        h2 {
            text-align: center;
            color: $navy;
            letter-spacing: 0.2em;
        }
    }
    input, textarea, select {
        border: 3px solid #fff;
        // line-height: 1.5;
        font-size: 1em;
        padding: 5px 10px;
        color: black;
        // display: block;
        width: 100%;
        background: #fff;
        margin-bottom: 1em;
    }
    select {
        color: $navy;
    }
    ::-webkit-input-placeholder {
        /* WebKit browsers */
        
        color: $navy;
    }
    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        
        color: $navy;
        opacity: 1;
    }
    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        
        color: $navy;
        opacity: 1;
    }
    :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        
        color: $navy;
    }
    .permission {
        width: 100%;
        vertical-align: top;
        .check {
            width: 5%;
        }
        .checkText {
            width: 95%;
            p {
                padding: 0;
                margin: 0;
                color: $navy;
            }
        }
    }
    .center {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        padding: 1em;
    }
    button {
        font-size: 1em;
        padding: 1em 2em;
        color: white;
        // margin-top: 1rem;
        background-color: $green;
        border: 0;
        border-radius: 15px;
        &:hover {
            background-color: $green-hover;
        }
    }
}
.stage {
    text-align: left;
    padding: 0 2em;
    margin-top: 1em;
    width: 100%;
}
.step2 {
    .relatives {
        border: 3px solid $blue;
        // width: 100%;
        background-color: #FFF;
        h3 {
            background-color: $blue;
            color: white;
            margin: 0;
            padding: 0.5em 1em;
            font-weight: 700;
            letter-spacing: 0.2em;
        }
    }
    .relative-list {
        padding: 2em;
        ul {
            padding: 0;
        }
        li {
            color: $blue;
        }
    }
}
.step3 {
    // form {
    //     .cell {
    //         width: 45%;
    //     }
    // }
}
.relatives, .form-heading, .subHeading, .permission {
    margin-bottom: 2rem;
}
.footer {} //
.hide {
    display: none;
}
.deliOther, .bakeryOther {
    color: #7d7d7d;
}
//
//
//
