*, *:before, *:after {
  box-sizing: border-box;
  transition: background-color .25s ease; }

/**--------- GRIDS ------------**/
.grid {
  font-size: 0px;
  text-align: justify; }

.grid:after {
  content: '';
  display: inline-block;
  width: 100%; }

.cell {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
  padding: 0; }

/**--------- GRIDS ------------**/
body, html {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
  height: auto;
  min-width: 300px;
  background-color: #FEF6DF; }

li {
  list-style: none;
  text-decoration: none;
  font-size: 1em;
  color: white; }

h1 {
  font-size: 1.5em;
  text-transform: uppercase; }

h2 {
  font-size: 1.3em;
  text-transform: uppercase; }

h3 {
  font-size: 1.1em;
  text-transform: uppercase; }

p {
  font-size: 1em;
  color: #00CCCB;
  line-height: 1.5; }

a {
  text-decoration: none;
  display: inline-block; }

label {
  color: #00CCCB;
  line-height: 2;
  text-transform: uppercase; }

input, textarea, select, a, button {
  outline: none; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 0.5rem 1rem;
  color: #848452;
  text-align: center; }
  header .logo {
    width: 300px;
    height: 100px;
    background-image: url("../images/jhmomc_banner1.gif");
    background-size: 100% auto;
    background-repeat: no-repeat; }
  header .buttons a:link, header .buttons a:visited {
    font-size: 1em;
    color: white;
    padding: 1em 2em;
    margin-left: 1em;
    border-radius: 15px; }
  header .buttons .signup a {
    background-color: #00CCCB; }
    header .buttons .signup a:hover, header .buttons .signup a:active, header .buttons .signup a:focus {
      background-color: #00807f; }
  header .buttons .login a {
    background-color: #FABE42; }
    header .buttons .login a:hover, header .buttons .login a:active, header .buttons .login a:focus {
      background-color: #e99f06; }

.sidebar {
  width: 315px;
  overflow: auto;
  background-color: #848452;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 7.25em;
  z-index: 2;
  padding: 1em; }
  .sidebar h3 {
    text-align: center;
    color: white; }
  .sidebar nav {
    width: 100%;
    padding: 1em 0em 1em 4em; }
    .sidebar nav > ul {
      padding: 0;
      margin: 0; }
    .sidebar nav a, .sidebar nav li {
      text-transform: uppercase;
      line-height: 2;
      position: relative; }
    .sidebar nav a:link, .sidebar nav a:visited {
      color: white; }
    .sidebar nav a:hover, .sidebar nav a:focus, .sidebar nav a:active {
      color: #FABE42; }
  .sidebar .active:before {
    content: '';
    width: 1em;
    height: 1.2em;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-250%, -50%);
    background-color: #FABE42; }
  .sidebar .active:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-150%, -50%);
    width: 0;
    height: 0;
    border-top: 0.6em solid transparent;
    border-left: 1em solid #FABE42;
    border-bottom: 0.6em solid transparent; }
  .sidebar .federation {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%); }
    .sidebar .federation p {
      font-size: 0.8em;
      font-style: italic; }
  .sidebar .jf-logo {
    width: 200px;
    height: 57px;
    background-image: url("../images/federation_logo.jpg");
    background-size: 90% auto;
    background-repeat: no-repeat; }

.main {
  min-height: 100vh;
  min-height: 100%;
  background-color: #FEF6DF;
  color: white;
  padding-left: 360px;
  padding-top: 150px;
  font-size: 1em; }

.success-msg {
  font-size: 1em;
  color: #023F75; }

h1.form-title {
  width: 100%;
  text-align: center;
  color: #EE8D09; }

.form-main {
  padding: 2em;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto; }

.form-heading {
  text-align: center; }
  .form-heading h1 {
    color: #023F75;
    letter-spacing: 0.2em; }

form .cell {
  width: 30%;
  vertical-align: top; }
form .wide {
  width: 48%; }
form .subHeading {
  width: 100%; }
  form .subHeading h2 {
    background-color: #00CCCB;
    border-radius: 15px;
    color: white;
    margin: 0;
    padding: 0.5em 1em;
    font-weight: 700;
    letter-spacing: 0.2em; }
form input, form textarea, form select {
  border: 3px solid #fff;
  font-size: 1em;
  padding: 5px 10px;
  color: black;
  width: 100%;
  background: #fff;
  margin-bottom: 1em; }
form select {
  color: #023F75; }
form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #023F75; }
form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #023F75;
  opacity: 1; }
form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #023F75;
  opacity: 1; }
form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #023F75; }
form .permission {
  width: 100%;
  vertical-align: top; }
  form .permission .check {
    width: 5%; }
  form .permission .checkText {
    width: 95%; }
    form .permission .checkText p {
      padding: 0;
      margin: 0;
      color: #023F75; }
form .center {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 1em; }
form button {
  font-size: 1em;
  padding: 1em 2em;
  color: white;
  background-color: #FABE42;
  border: 0;
  border-radius: 15px; }
  form button:hover {
    background-color: #e99f06; }

.stage {
  text-align: left;
  padding: 0 2em;
  margin-top: 1em;
  width: 100%; }

.step2 .relatives {
  border: 3px solid #00CCCB;
  width: 100%;
  background-color: #FFF; }
  .step2 .relatives h3 {
    background-color: #00CCCB;
    color: white;
    margin: 0;
    padding: 0.5em 1em;
    font-weight: 700;
    letter-spacing: 0.2em; }
.step2 .relative-list li {
  color: #00CCCB; }

.relatives, .form-heading, .subHeading, .permission {
  margin-bottom: 2rem; }

/*# sourceMappingURL=styles.css.map */
