*, *:before, *:after {
  box-sizing: border-box;
  transition: background-color .25s ease; }

/**--------- GRIDS ------------**/
.grid {
  font-size: 0px;
  text-align: justify; }

.grid:after {
  content: '';
  display: inline-block;
  width: 100%; }

.cell {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
  padding: 0; }

/**--------- GRIDS ------------**/
body, html {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
  height: auto;
  min-width: 300px;
  background-color: #FEF6DF; }
  @media (max-width: 1065px) and (min-width: 992px) {
    body, html {
      font-size: 15px; } }
  @media (max-width: 991px) and (min-width: 768px) {
    body, html {
      font-size: 13px; } }
  @media (max-width: 767px) and (min-width: 500px) {
    body, html {
      font-size: 11px; } }
  @media (max-width: 499px) {
    body, html {
      font-size: 10px; } }

li {
  list-style: none;
  text-decoration: none;
  font-size: 1em;
  color: white; }

h1 {
  font-size: 1.5em;
  text-transform: uppercase; }

h2 {
  font-size: 1.3em;
  text-transform: uppercase; }

h3 {
  font-size: 1.1em;
  text-transform: uppercase; }

p {
  font-size: 1em;
  color: #512B2A;
  line-height: 1.5; }

a {
  text-decoration: none;
  display: inline-block; }

a:link, a:visited {
  color: #512B2A; }

.mobile-only {
  display: none; }
  @media (max-width: 869px) {
    .mobile-only {
      display: block; } }

@media (max-width: 869px) {
  .desktop-only {
    display: none; } }

label {
  color: #512B2A;
  line-height: 2;
  text-transform: uppercase; }

input, textarea, select, a, button {
  outline: none; }

header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4); }
  header .logo {
    width: 25%;
    text-align: center; }
    header .logo img {
      max-width: 100%; }
    @media (max-width: 1065px) and (min-width: 992px) {
      header .logo {
        width: 30%; } }
    @media (max-width: 869px) {
      header .logo {
        width: 50%; } }
    @media (max-width: 499px) {
      header .logo {
        width: 60%; } }
  header .pageTitle {
    width: 50%;
    text-align: center; }
    @media (max-width: 1065px) and (min-width: 870px) {
      header .pageTitle {
        width: 40%; } }
    @media (max-width: 869px) {
      header .pageTitle {
        display: none; } }
    header .pageTitle h1 {
      color: #848452; }
  header .buttons {
    text-align: center;
    width: 25%; }
    @media (max-width: 1065px) and (min-width: 992px) {
      header .buttons {
        width: 30%; } }
    @media (max-width: 869px) {
      header .buttons {
        width: 50%; } }
    @media (max-width: 499px) {
      header .buttons {
        width: 40%; } }
    header .buttons a:link, header .buttons a:visited {
      font-size: 1em;
      color: white;
      padding: 1em 2em;
      margin-left: 1em;
      border-radius: 15px; }
      @media (max-width: 499px) {
        header .buttons a:link, header .buttons a:visited {
          padding: 0.75em;
          margin-left: 0.5em; } }
    header .buttons .signUp a {
      background-color: #512B2A; }
      header .buttons .signUp a:hover, header .buttons .signUp a:active, header .buttons .signUp a:focus {
        background-color: #1f1010; }
    header .buttons .login a {
      background-color: #FABE42; }
      header .buttons .login a:hover, header .buttons .login a:active, header .buttons .login a:focus {
        background-color: #e99f06; }

.sidebar {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  width: 315px;
  overflow: auto;
  background-color: #848452;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 7.25em 1em 1em 1em; }
  @media (max-width: 991px) {
    .sidebar {
      width: 260px;
      padding-top: 8em; } }
  @media (max-width: 869px) {
    .sidebar {
      display: none; } }
  .sidebar h3 {
    text-align: center;
    color: white; }
    @media (max-width: 869px) {
      .sidebar h3 {
        display: none; } }
  .sidebar nav {
    width: 100%;
    padding: 1em 0em 1em 4em; }
    @media (max-width: 869px) {
      .sidebar nav {
        padding: 1em; } }
    .sidebar nav > ul {
      padding: 0;
      margin: 0; }
      @media (max-width: 869px) {
        .sidebar nav > ul > li {
          display: inline;
          padding: 1em; } }
    @media (max-width: 869px) {
      .sidebar nav ul ul {
        display: none;
        position: absolute;
        top: 100%; }
      .sidebar nav ul ul li {
        float: none;
        position: relative; }
      .sidebar nav ul li:hover > ul {
        display: block; }
      .sidebar nav ul {
        position: relative;
        display: inline-table; }
      .sidebar nav ul:after {
        content: '';
        clear: both;
        display: block; }
      .sidebar nav ul li {
        float: left; }
      .sidebar nav ul li:hover {
        background: black; }
      .sidebar nav ul li:hover a {
        color: red; }
      .sidebar nav ul li a {
        display: block;
        color: pink; } }
    .sidebar nav a, .sidebar nav li {
      text-transform: uppercase;
      line-height: 2;
      position: relative; }
    .sidebar nav a:link, .sidebar nav a:visited {
      color: white; }
    .sidebar nav a:hover, .sidebar nav a:focus, .sidebar nav a:active {
      color: #FABE42; }
  @media (max-width: 869px) {
    .sidebar .active {
      display: none; } }
  .sidebar .active:before {
    content: '';
    width: 1em;
    height: 1.2em;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-250%, -50%);
    background-color: #FABE42; }
  .sidebar .active:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-150%, -50%);
    width: 0;
    height: 0;
    border-top: 0.6em solid transparent;
    border-left: 1em solid #FABE42;
    border-bottom: 0.6em solid transparent; }

.federation {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  padding: 2rem 4rem; }
  .federation p {
    font-size: 0.8em;
    font-style: italic; }

.jf-text {
  width: 75%;
  text-align: left;
  padding-left: 5em; }

.jf-logo {
  width: 25%; }
  .jf-logo img {
    max-width: 100%; }

.main {
  text-align: center;
  min-height: 100vh;
  min-height: 100%;
  background-color: #FEF6DF;
  padding-left: 360px;
  padding-top: 119px;
  font-size: 1em; }
  @media (max-width: 991px) {
    .main {
      padding-left: 260px; } }
  @media (max-width: 869px) {
    .main {
      padding: 119px 2em; } }
  @media (max-width: 499px) {
    .main {
      padding: 7em 1em; } }

.mobileTitle {
  text-align: center; }
  .mobileTitle h1, .mobileTitle h3 {
    color: #848452; }

.success-msg {
  font-size: 1em;
  color: black; }

h1.form-title {
  width: 100%;
  text-align: center;
  color: #EE8D09; }

.form-main {
  padding: 2em;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto; }

.form-heading {
  text-align: center; }
  .form-heading h1 {
    background-color: #512B2A;
    border-radius: 15px;
    color: white;
    margin: 0;
    padding: 0.5em 1em;
    font-weight: 700;
    letter-spacing: 0.2em; }

form .cell {
  width: 30%;
  vertical-align: top; }
  @media (max-width: 600px) {
    form .cell {
      width: 100%; } }
form .wide {
  width: 48%; }
  @media (max-width: 600px) {
    form .wide {
      width: 100%; } }
form .subHeading {
  width: 100%; }
  form .subHeading h2 {
    text-align: center;
    color: black;
    letter-spacing: 0.2em; }
form input, form textarea, form select {
  border: 3px solid #fff;
  font-size: 1em;
  padding: 5px 10px;
  color: black;
  width: 100%;
  background: #fff;
  margin-bottom: 1em; }
form select {
  color: black; }
form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: black; }
form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: black;
  opacity: 1; }
form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: black;
  opacity: 1; }
form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: black; }
form .permission {
  width: 100%;
  vertical-align: top; }
  form .permission .check {
    width: 5%; }
  form .permission .checkText {
    width: 95%; }
    form .permission .checkText p {
      padding: 0;
      margin: 0;
      color: black; }
form .center {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 1em; }
form button {
  font-size: 1em;
  padding: 1em 2em;
  color: white;
  background-color: #FABE42;
  border: 0;
  border-radius: 15px; }
  form button:hover {
    background-color: #e99f06; }

.stage {
  text-align: left;
  padding: 0 2em;
  margin-top: 1em;
  width: 100%; }

.step2 .relatives {
  border: 3px solid #512B2A;
  background-color: #FFF; }
  .step2 .relatives h3 {
    background-color: #512B2A;
    color: white;
    margin: 0;
    padding: 0.5em 1em;
    font-weight: 700;
    letter-spacing: 0.2em; }
.step2 .relative-list {
  padding: 2em; }
  .step2 .relative-list ul {
    padding: 0; }
  .step2 .relative-list li {
    color: #512B2A; }

.relatives, .form-heading, .subHeading, .permission {
  margin-bottom: 2rem; }

.hide {
  display: none; }

/*# sourceMappingURL=styles.css.map */
